isis/src/docsys/Schemas/Application/application.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 sp2 (http://www.altova.com) by Deborah Soltesz (US Geological Survey) -->
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by Stuart C Sides (USGS) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:annotation>
    <xs:documentation>e </xs:documentation>
  </xs:annotation>
  <xs:annotation>
    <xs:documentation>XML schema for Isis application documentation (Application Markup Language, or AML)</xs:documentation>
  </xs:annotation>
  <xs:annotation>
    <xs:documentation>2006-03-12 Designed by Jeff Anderson, janderson@usgs.gov, and Deborah Lee Soltesz, dsoltesz@usgs.gov, USGS Astrogeology Research Program, Flagstaff, AZ</xs:documentation>
  </xs:annotation>
  <xs:annotation>
    <xs:documentation>2006-03-23 Added helpers element based on work by Elizabeth Riblin and Jeff Anderson</xs:documentation>
  </xs:annotation>
  <xs:annotation>
    <xs:documentation>2007-07-26 Steven Koechle - Added missionItem_type enummerations for LO and LRO</xs:documentation>
  </xs:annotation>
  <xs:annotation>
    <xs:documentation>2010-03-25 Janet Barrett - Added missionItem_type enummeration for Dawn</xs:documentation>
  </xs:annotation>
  <xs:annotation>
    <xs:documentation>2011-09-16 Sharmila Prasad - Added parameter type combo</xs:documentation>
  </xs:annotation>
  <xs:annotation>
    <xs:documentation>2013-03-27 Jeannie Backer - Added missionItem_type enummeration for NEAR. References #1248.</xs:documentation>
  </xs:annotation>
  <xs:annotation>
    <xs:documentation>2013-11-21 Stuart Sides - Added/Modified missionItem_type enummeration for Chandrayaan 1 and Hayabusa Refferences #19173.</xs:documentation>
  </xs:annotation>
  <xs:annotation>
    <xs:documentation>2013-12-19 Stuart Sides - Added  missionItem_type enummeration for New Horizons.</xs:documentation>
  </xs:annotation>
  <xs:annotation>
    <xs:documentation>2016-03-29 Kristin Berry - Added  missionItem_type enummeration for Rosetta.</xs:documentation>
  </xs:annotation>
  <xs:annotation>
    <xs:documentation>2016-08-25 Marjorie Hahn - Added  missionItem_type enummeration for OSIRIS-REx.</xs:documentation>
  </xs:annotation>
  <xs:element name="application">
    <xs:annotation>
      <xs:documentation>XML file describing an Isis application</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:all>
        <xs:element ref="brief"/>
        <xs:element ref="description"/>
        <xs:element ref="category"/>
        <xs:element ref="seeAlso" minOccurs="0"/>
        <xs:element ref="oldName" minOccurs="0"/>
        <xs:element ref="history"/>
        <xs:element ref="liens" minOccurs="0"/>
        <xs:element ref="groups" minOccurs="0"/>
        <xs:element ref="examples" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="brief">
    <xs:annotation>
      <xs:documentation>element enclosing a very brief description</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="description">
    <xs:annotation>
      <xs:documentation>multiline description that may contain HTML</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:any namespace="##any" processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="category">
    <xs:annotation>
      <xs:documentation>A list of categories this application falls under</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="categoryItem" type="categoryItem_type">
          <xs:annotation>
            <xs:documentation>Enumerated type describing a single basic category this application falls in</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="missionItem" type="missionItem_type">
          <xs:annotation>
            <xs:documentation>Enumerated type describing a single mission-specific category this application falls in</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="item" type="xs:string">
    <xs:annotation>
      <xs:documentation>An item in a list</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="group">
    <xs:annotation>
      <xs:documentation>A container of parameters for an application.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="parameter" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="parameter">
    <xs:annotation>
      <xs:documentation>A container describing a single parameter to an application.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:all>
        <xs:element ref="type"/>
        <xs:element name="fileMode" type="filemode_type" minOccurs="0">
          <xs:annotation>
            <xs:documentation>enumeration describing a parameter of type filename: whether the file's an input, output, etc.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="defaultPath" minOccurs="0">
          <xs:annotation>
            <xs:documentation>default directory path to a location on the system</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="brief"/>
        <xs:element ref="description"/>
        <xs:element ref="count" minOccurs="0"/>
        <xs:element ref="default" minOccurs="0"/>
        <xs:element ref="internalDefault" minOccurs="0"/>
        <xs:element ref="list" minOccurs="0"/>
        <xs:element name="minimum" minOccurs="0">
          <xs:annotation>
            <xs:documentation>The minimum allowed value the user may enter for this parameter.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="inclusive" type="inclusion_type" use="required"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="maximum" minOccurs="0">
          <xs:annotation>
            <xs:documentation>The maximum allowed value the user may enter for this parameter.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="inclusive" type="inclusion_type" use="required"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="greaterThan" minOccurs="0">
          <xs:annotation>
            <xs:documentation>A list of parameters the value for this parameter must be greater than.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="item" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="greaterThanOrEqual" minOccurs="0">
          <xs:annotation>
            <xs:documentation>A list of parameters the value for this parameter must be greater than or equal to.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="item" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="lessThan" minOccurs="0">
          <xs:annotation>
            <xs:documentation>A list of parameters the value for this parameter must be less than.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="item" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="lessThanOrEqual" minOccurs="0">
          <xs:annotation>
            <xs:documentation>A list of parameters the value for this parameter must be less than or equal to.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="item" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="notEqual" minOccurs="0">
          <xs:annotation>
            <xs:documentation>A list of parameters the value for this parameter must not be equal to.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="item" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="odd" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Is the parameter value an odd integer? This is an empty element. If it exists, the parameter must be an odd integer.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="filter" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Regular Expression to filter a file list if this parameter is a file choice. (e.g. *.cub for input cube file parameter)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="exclusions" minOccurs="0"/>
        <xs:element ref="inclusions" minOccurs="0"/>
        <xs:element name="pixelType" type="pixelType_type" minOccurs="0">
          <xs:annotation>
            <xs:documentation>What numerical type are the pixels in the cube? (real, unsigned byte, etc.)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="helpers" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="count">
    <xs:annotation>
      <xs:documentation>The number of items in the list or array if this parameter takes a list or array</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="size" type="xs:integer" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="default">
    <xs:annotation>
      <xs:documentation>The default value or array/list of values</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="item" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="internalDefault" type="xs:string">
    <xs:annotation>
      <xs:documentation>Description of a calculated default (depended on input files or other variables)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="exclusions">
    <xs:annotation>
      <xs:documentation>List of parameters to exclude if this parameter is used</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="item" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="list">
    <xs:annotation>
      <xs:documentation>list of possible values</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="option" minOccurs="2" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="example">
    <xs:annotation>
      <xs:documentation>A single example of using this application.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:all>
        <xs:element ref="brief"/>
        <xs:element ref="description"/>
        <xs:element ref="terminalInterface" minOccurs="0"/>
        <xs:element ref="guiInterfaces" minOccurs="0"/>
        <xs:element ref="dataFiles" minOccurs="0"/>
        <xs:element ref="inputImages" minOccurs="0"/>
        <xs:element ref="outputImages" minOccurs="0"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="image" type="dimensions2Dimage_type">
    <xs:annotation>
      <xs:documentation>A container describing an image. Attributes: width and height are the number of pixels horizontally and vertically;  src is the relative path to the thumbenail.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="guiInterface">
    <xs:annotation>
      <xs:documentation>A container describing a single GUI screenshot for this example. A screenshot is a raster image depicting an application window.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:all>
        <xs:element ref="image"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="terminalInterface">
    <xs:annotation>
      <xs:documentation>A container desribing the command line for executing this example.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:all>
        <xs:element name="commandLine" type="xs:string">
          <xs:annotation>
            <xs:documentation>The full command line that will execute this example and render the result.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="description"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="parameterName">
    <xs:annotation>
      <xs:documentation>The name of the application parameter associated with this image</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="dataFile">
    <xs:annotation>
      <xs:documentation>Container describing an input or output file other than an image used in the example.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:all>
        <xs:element ref="brief"/>
        <xs:element ref="description"/>
        <xs:element ref="parameterName" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="path" type="xs:anyURI" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="type" type="paramType_type">
    <xs:annotation>
      <xs:documentation>an enumeration describing the type of a value. </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="liens">
    <xs:annotation>
      <xs:documentation>things-to-do list. Each 'item' contains a single lien in the list.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="item" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="history">
    <xs:annotation>
      <xs:documentation>A container describing the history of this application.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="change" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>A single 'change' in the history of this class. Attribute 'name' is the author's full name; attribute 'date' is the change date in YYYY-MM-DD format. The element contains a free text description of the changes made.</xs:documentation>
          </xs:annotation>
          <xs:complexType mixed="true">
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="date" type="xs:date" use="required"/>
            <xs:attribute name="hidden" use="optional" default="false">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="yes"/>
                  <xs:enumeration value="no"/>
                  <xs:enumeration value="true"/>
                  <xs:enumeration value="false"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="dimensions2Dimage_type">
    <xs:annotation>
      <xs:documentation>reusable type for describing an image</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element ref="brief"/>
      <xs:element ref="description"/>
      <xs:element name="thumbnail" type="dimension2Dthumbnail_type">
        <xs:annotation>
          <xs:documentation>A description of the thumbnail for this image. Attributes: width and height are the number of pixels horizontally and vertically; caption is a brief description of the image; src is the relative path to the thumbenail.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="parameterName" minOccurs="0"/>
    </xs:all>
    <xs:attribute name="width" type="xs:integer" use="required"/>
    <xs:attribute name="height" type="xs:integer" use="required"/>
    <xs:attribute name="src" type="xs:anyURI" use="required"/>
  </xs:complexType>
  <xs:complexType name="dimension2Dthumbnail_type">
    <xs:annotation>
      <xs:documentation>reusable type for describing a thumbnail image</xs:documentation>
    </xs:annotation>
    <xs:attribute name="width" type="xs:integer" use="required"/>
    <xs:attribute name="height" type="xs:integer" use="required"/>
    <xs:attribute name="caption" type="xs:string" use="required"/>
    <xs:attribute name="src" type="xs:string" use="required"/>
  </xs:complexType>
  <xs:simpleType name="categoryItem_type" final="restriction">
    <xs:annotation>
      <xs:documentation>enumeration for basic Application categorizations</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Cameras"/>
      <xs:enumeration value="Control Networks"/>
      <xs:enumeration value="Display"/>
      <xs:enumeration value="Fourier Domain"/>
      <xs:enumeration value="Filters"/>
      <xs:enumeration value="Geometry"/>
      <xs:enumeration value="Import and Export"/>
      <xs:enumeration value="Map Projection"/>
      <xs:enumeration value="Math and Statistics"/>
      <xs:enumeration value="Mosaicking"/>
      <xs:enumeration value="Radiometric and Photometric Correction"/>
      <xs:enumeration value="Registration and Pattern Matching"/>
      <xs:enumeration value="Scripting"/>
      <xs:enumeration value="SOCET Set Translation"/>
      <xs:enumeration value="System"/>
      <xs:enumeration value="Topography"/>
      <xs:enumeration value="Trim and Mask"/>
      <xs:enumeration value="Utility"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="missionItem_type" final="restriction">
    <xs:annotation>
      <xs:documentation>enumeration for mission specific Application categorizations</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Apollo"/>
      <xs:enumeration value="Cassini"/>
      <xs:enumeration value="Chandrayaan 1"/>
      <xs:enumeration value="Clementine"/>
      <xs:enumeration value="Dawn"/>
      <xs:enumeration value="Galileo"/>
      <xs:enumeration value="Hayabusa"/>
      <xs:enumeration value="Kaguya"/>
      <xs:enumeration value="Lunar Orbiter"/>
      <xs:enumeration value="Lunar Reconnaissance Orbiter"/>
      <xs:enumeration value="Mariner"/>
      <xs:enumeration value="Mars Exploration Rover"/>
      <xs:enumeration value="Mars Express"/>
      <xs:enumeration value="Mars Global Surveyor"/>
      <xs:enumeration value="Mars Odyssey"/>
      <xs:enumeration value="Mars Reconnaissance Orbiter"/>
      <xs:enumeration value="Messenger"/>
      <xs:enumeration value="New Horizons"/>
      <xs:enumeration value="Near Earth Asteroid Rendezvous"/>
      <xs:enumeration value="OSIRIS-REx"/>
      <xs:enumeration value="Robotic Lunar Observatory"/>
      <xs:enumeration value="Rosetta"/>
      <xs:enumeration value="Small Missions for Advanced Research and Technology 1"/>
      <xs:enumeration value="Viking"/>
      <xs:enumeration value="Voyager"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="inclusion_type" final="restriction">
    <xs:annotation>
      <xs:documentation>enumeration for inclusion types - boolean values</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="yes"/>
      <xs:enumeration value="no"/>
      <xs:enumeration value="true"/>
      <xs:enumeration value="false"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="paramType_type" final="restriction">
    <xs:annotation>
      <xs:documentation>enumerations for types of parameters</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="filename"/>
      <xs:enumeration value="integer"/>
      <xs:enumeration value="double"/>
      <xs:enumeration value="string"/>
      <xs:enumeration value="boolean"/>
      <xs:enumeration value="cube"/>
      <xs:enumeration value="combo"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="filemode_type" final="restriction">
    <xs:annotation>
      <xs:documentation>enumeration describing if a file (parameter) is input, output, etc.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="input"/>
      <xs:enumeration value="output"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="pixelType_type" final="restriction">
    <xs:annotation>
      <xs:documentation>enumeration describing a cube's pixel digital number type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="real"/>
      <xs:enumeration value="unsignedByte"/>
      <xs:enumeration value="signedWord"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="groups">
    <xs:annotation>
      <xs:documentation>A container for holding the groups of parameters for the application.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="group" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="examples">
    <xs:annotation>
      <xs:documentation>A container of examples for using the application.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="example" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="guiInterfaces">
    <xs:annotation>
      <xs:documentation>A container of Graphical User Interface (GUI) screenshots for this example.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="guiInterface" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dataFiles">
    <xs:annotation>
      <xs:documentation>A container of dataFiles for this example.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="dataFile" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="inputImages">
    <xs:annotation>
      <xs:documentation>A container of images that are inputs to the application.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence maxOccurs="unbounded">
        <xs:element ref="image"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="outputImages">
    <xs:annotation>
      <xs:documentation>A container of images that are outputs from the application.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence maxOccurs="unbounded">
        <xs:element ref="image"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="option">
    <xs:annotation>
      <xs:documentation>Describes an option in a list. Brief child element will be used as the text next to the radio button for the optiion.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:all>
        <xs:element ref="brief"/>
        <xs:element ref="description"/>
        <xs:element ref="exclusions" minOccurs="0"/>
        <xs:element ref="inclusions" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="value" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="seeAlso">
    <xs:annotation>
      <xs:documentation>list of related applications and documents</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:all>
        <xs:element name="documents" minOccurs="0">
          <xs:annotation>
            <xs:documentation>A list of related documents. Each item should contain the directory name for a particular document stored in the 'documents' directory.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="document" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="applications" minOccurs="0">
          <xs:annotation>
            <xs:documentation>A list of related applications. Each item should contain the proper Isis application name.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="item" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="inclusions">
    <xs:annotation>
      <xs:documentation>List of parameters that must be used if this one is used.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="item" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="title">
    <xs:annotation>
      <xs:documentation>title of an application, document, or resource</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="source">
    <xs:annotation>
      <xs:documentation>full path or URL to a resource including the filename</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:all>
        <xs:element ref="filename"/>
        <xs:element ref="path" minOccurs="0"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="filename">
    <xs:annotation>
      <xs:documentation>Filename of a resource with no path specified</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="path">
    <xs:annotation>
      <xs:documentation>Relative path or URL path to a file without a filename specified. If this element is not specified, stylesheets may assume a default location other than the current working directory.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="oldName">
    <xs:annotation>
      <xs:documentation>list of application names this application was named in previous versions</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="item" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="document">
    <xs:annotation>
      <xs:documentation>container describing a document</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:all>
        <xs:element ref="title"/>
        <xs:element ref="source" minOccurs="0"/>
        <xs:element name="author" minOccurs="0">
          <xs:annotation>
            <xs:documentation>author (or authors) of the document</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="publisher" minOccurs="0">
          <xs:annotation>
            <xs:documentation>publisher information (name, city, etc.)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="pages" minOccurs="0">
          <xs:annotation>
            <xs:documentation>pages in document refered to by this reference</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="date" minOccurs="0">
          <xs:annotation>
            <xs:documentation>publication date</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="helpers">
    <xs:annotation>
      <xs:documentation>defines a set of 'helper' functions that provide advanced options or other assistance</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="helper" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>defines a 'helper' function that provides advanced options or other assistance</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:all>
              <xs:element name="function">
                <xs:annotation>
                  <xs:documentation>name of function to call that implements the helper</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element ref="brief"/>
              <xs:element ref="description"/>
              <xs:element name="icon" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>icon file to display for this helper</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:all>
            <xs:attribute name="name" type="xs:string" use="required">
              <xs:annotation>
                <xs:documentation>name of the helper</xs:documentation>
              </xs:annotation>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
